{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}7crazy.top{% endblock %}

{% block page_content %}
<p align="right"><a href="{{ url_for('user', id=name) }}">刷新页面</a> | <a href="{{ url_for('out') }}">退出</a></p>
{% if info %}

<table class="table">
    <thead>
        <tr>
          <th>课程名</th>
          <th>分数</th>
          <th>最终分数</th>
            <th>补考成绩</th>
            <th>学分</th>
        </tr>
    </thead>
    <tbody>
    {% for i in info %}
        <tr>
          <th scope="row">{{ i[4] }}</th>
          <td>{{ i[6] }}</td>
          <td>{{ i[7] }}</td>
            <td>{% if i %}
              {{ i[9] }}
              {% endif %}
          </td>
          <td>{{ i[11] }}</td>

        </tr>
    {% endfor %}
    </tbody>


</table>
<h2 align="center">默认15分钟自动查询更新</h2>
{% else %}
<h2>正在查询，请稍后</h2>
<script language="JavaScript">
function myrefresh(){
window.location.reload();
}
setTimeout('myrefresh()',1000); //指定1秒刷新一次
</script>
{% endif %}



{% endblock %}